<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include ./common/css.ejs %>
</head>
<body>
    <h1><%= title %></h1>
    <% if(locals.user) { %>
        <div id="menu">
            <span>欢饮您，<%=user.name%></span>
            <a href="/post">post</a>
            <a href="/logout">logout</a>
        </div>
    <% } else { %>
        <div id="menu">
            <a href="/page/login">登录</a>
            <a href="/page/register">注册</a>
        </div>
    <% } %>
    <!--<a href="/users">User</a>-->
    <form id="uploadForm">
        <input type="file" id="aaa" name="pic">
    </form>
<% include ./common/script.ejs %>
    <script>
        $('#file').change(function() {
//            var formData = new FormData($( "#file" )[0]);
//            var file = $( "#aaa" )[0].files[0];
//            var data = new FormData();
//            data.append('pic', file);
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: {a: 'haha'},
                success: function (data) {
                    console.log(data);
                }
            })
        })

        $.ajax({
            url: '/upload',
            type: 'POST',
            data: {a: 'haha'},
            success: function (data) {
                console.log(data);
            }
        })

    </script>
</body>
</html>
