<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include ./common/css.ejs %>
</head>
<body>
    <h1><%= title %></h1>
    <% if(locals.user) { %>
        <div id="menu">
            <span>欢饮您，<%=user.name%></span>
            <a href="/post">post</a>
            <a href="/logout">logout</a>
        </div>
    <% } else { %>
        <div id="menu">
            <a href="/page/login">登录</a>
            <a href="/page/register">注册</a>
        </div>
    <% } %>
    <!--<a href="/users">User</a>-->
    <form id="uploadForm">
        <p><input type="text" id="username" name="username"></p>
        <p><input type="password" id="pass" name="pass"></p>
        <p><input type="file" id="aaa" name="avatar"></p>
        <p><button type="button" id="submit">提交</button></p>
    </form>
    <div id="btn">click</div>
<% include ./common/script.ejs %>
    <script>
        $('#submit').click(function() {
            var data = new FormData();
            var username = $('#username').val();
            var pass = $('#pass').val();
            var file = $( "#aaa" )[0].files[0];
            data.append('username', username);
            data.append('pass', pass);
            data.append('avatar', file);
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: data,
                // 告诉jQuery不要去处理发送的数据
                processData : false,
                // 告诉jQuery不要去设置Content-Type请求头
                contentType : false,
                success: function (data) {
                    console.log(data);
                }
            })
            /*$.post('/upload', data, function(data) {
                console.log(data)
            },'json')*/
        })


        $('#btn').click(function() {
            $.ajax({
                url: '/test',
                type: 'post',
                success: function(data) {
                    console.log(data);
                }
            })
        })

    </script>
</body>
</html>
