<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include ./common/css.ejs %>
</head>
<body>
    <h4>register</h4>
    <% if (locals.messages) { %>
        <% messages.forEach(function(message) { %>
            <p class="<%=message.type%>"><%= message.string %></p>
        <% }) %>
        <% removeMessages() %>
    <% } %>
    <form action="/users/register" method="post">
        <p><input type="text" name="username" placeholder="username"></p>
        <p><input type="password" name="pass" placeholder="password"></p>
        <p><input type="password" name="passagin" placeholder="password again"></p>
        <p><input type="submit" value="æäº¤"></p>
    </form>

<% include ./common/script.ejs %>
</body>
</html>
