<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include ./common/css.ejs %>
</head>
<body>
    <h4>Users</h4>
    <a href="/page/login">登录</a>
    <a href="/page/register">注册</a>

<% include ./common/script.ejs %>
</body>
</html>
