* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}

#box {
	width: 80px;
	height: 30px;
}